
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-32: 32px;

$color-FFFFFF: #FFFFFF;
$color-7D99E3: #7D99E3;
$color-F9A901: #F9A901;
$color-3C71FF: #3C71FF;
$color-1C233F: #1C233F;
$color-CA1A1A: #CA1A1A;
$color-7A9EFF: #7A9EFF;
$color-D8D8D8: #D8D8D8;
$color-66BFDE: #66BFDE;
$color-EBEBEB: #EBEBEB;



